In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('final_fire_data.csv')

In [3]:
df

,FIRE_YEAR,MTBS_FIRE,DISCOVERY,FIRE_SIZE,LATITUDE,LONGITUDE,FIPS_NAME,geometry,spect_degrees,elev,slope_percent,ppt,tmax,tmean,tmin,vpdmax,vpdmin
0,2016,CLARK,4/8/16,2819.0,37.798889,-118.922500,Mono County,POINT (-118.922487335 37.79888369100007),255.963760,2432.000000,5.218463e+05,3.493000,21.313999,12.240001,3.169,22.062000,3.959
1,2016,PONY,7/6/16,2860.0,41.623056,-123.557500,Siskiyou County,POINT (-123.557486093 41.62305042200006),91.538918,1553.000000,4.241502e+06,24.947001,28.737000,20.587002,12.439,29.135000,5.242
2,2016,PINE,30/6/16,2304.0,34.630833,-119.230278,Ventura County,POINT (-119.230265381 34.63082846900005),24.775141,1920.000000,2.174585e+06,NaN,27.422001,21.467001,15.514,25.910999,5.891
3,2016,JACOBSON,20/10/16,1702.0,36.227778,-118.563333,Tulare County,POINT (-118.563320892 36.22777271200005),48.037987,2225.000000,6.416926e+06,77.538002,10.326000,5.842000,1.359,9.923000,3.374
4,2016,MEADOW,29/10/16,4357.0,35.986667,-118.551667,Tulare County,POINT (-118.551654258 35.98666162600006),109.457977,1652.000000,2.241690e+06,50.560001,16.764000,7.659000,-1.444,15.048000,1.158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,2019,LONOAK,25/6/19,2546.0,36.277222,-120.943056,Monterey County,POINT (-120.943042763 36.27721728400007),326.534607,283.000000,8.951381e+05,NaN,34.775002,23.425499,12.076,45.002998,2.310
173,2019,BORDER 8,14/8/19,1507.0,32.572778,-116.699722,San Diego County,POINT (-116.699710389 32.57277303300003),219.035294,925.358398,3.657776e+06,16.621000,30.459999,22.446899,14.434,31.254000,2.608
174,2019,EASY,30/10/19,1806.0,34.281667,-118.803056,Ventura County,POINT (-118.8030433009999 34.28166185100002),243.970413,218.000000,6.056698e+05,53.241001,23.308001,16.590000,9.872,23.044001,4.623
175,2019,SANDALWOOD,10/10/19,1011.0,33.992460,-117.059210,Riverside County,POINT (-117.0591980199999 33.99245507400008),199.358993,719.000000,4.963595e+05,81.872002,22.702999,15.968900,9.235,24.959999,7.115
176,2019,ROCK,25/6/19,2422.0,37.472222,-121.249444,Stanislaus County,POINT (-121.249431397 37.47221719700008),220.114792,203.000000,4.203679e+06,NaN,31.962000,24.119499,16.277,35.710999,6.419

In [4]:
df.columns

Index(['FIRE_YEAR', 'MTBS_FIRE', 'DISCOVERY', 'FIRE_SIZE', 'LATITUDE',
       'LONGITUDE', 'FIPS_NAME', 'geometry', 'spect_degrees', 'elev',
       'slope_percent', 'ppt', 'tmax', 'tmean', 'tmin', 'vpdmax', 'vpdmin'],
      dtype='object')

In [5]:
# Drop the specified columns
columns_to_drop = ['FIRE_YEAR', 'MTBS_FIRE', 'DISCOVERY','geometry']
dfs = df.drop(columns_to_drop, axis=1)

In [6]:
dfs

,FIRE_SIZE,LATITUDE,LONGITUDE,FIPS_NAME,spect_degrees,elev,slope_percent,ppt,tmax,tmean,tmin,vpdmax,vpdmin
0,2819.0,37.798889,-118.922500,Mono County,255.963760,2432.000000,5.218463e+05,3.493000,21.313999,12.240001,3.169,22.062000,3.959
1,2860.0,41.623056,-123.557500,Siskiyou County,91.538918,1553.000000,4.241502e+06,24.947001,28.737000,20.587002,12.439,29.135000,5.242
2,2304.0,34.630833,-119.230278,Ventura County,24.775141,1920.000000,2.174585e+06,NaN,27.422001,21.467001,15.514,25.910999,5.891
3,1702.0,36.227778,-118.563333,Tulare County,48.037987,2225.000000,6.416926e+06,77.538002,10.326000,5.842000,1.359,9.923000,3.374
4,4357.0,35.986667,-118.551667,Tulare County,109.457977,1652.000000,2.241690e+06,50.560001,16.764000,7.659000,-1.444,15.048000,1.158
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,2546.0,36.277222,-120.943056,Monterey County,326.534607,283.000000,8.951381e+05,NaN,34.775002,23.425499,12.076,45.002998,2.310
173,1507.0,32.572778,-116.699722,San Diego County,219.035294,925.358398,3.657776e+06,16.621000,30.459999,22.446899,14.434,31.254000,2.608
174,1806.0,34.281667,-118.803056,Ventura County,243.970413,218.000000,6.056698e+05,53.241001,23.308001,16.590000,9.872,23.044001,4.623
175,1011.0,33.992460,-117.059210,Riverside County,199.358993,719.000000,4.963595e+05,81.872002,22.702999,15.968900,9.235,24.959999,7.115
176,2422.0,37.472222,-121.249444,Stanislaus County,220.114792,203.000000,4.203679e+06,NaN,31.962000,24.119499,16.277,35.710999,6.419

In [7]:
# Fill missing values with the mean of the respective column
df_filled_mean = df.fillna(df.mean())

/var/folders/tz/3wl_wg3n291_ymhlzngnlnzr0000gn/T/ipykernel_3058/4225717290.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_filled_mean = df.fillna(df.mean())

In [8]:
dfs=df_filled_mean.drop(['FIPS_NAME','geometry'], axis=1)

In [9]:
dfs=dfs.drop(['MTBS_FIRE','DISCOVERY'], axis=1)

In [10]:
dfs

,FIRE_YEAR,FIRE_SIZE,LATITUDE,LONGITUDE,spect_degrees,elev,slope_percent,ppt,tmax,tmean,tmin,vpdmax,vpdmin
0,2016,2819.0,37.798889,-118.922500,255.963760,2432.000000,5.218463e+05,3.493000,21.313999,12.240001,3.169,22.062000,3.959
1,2016,2860.0,41.623056,-123.557500,91.538918,1553.000000,4.241502e+06,24.947001,28.737000,20.587002,12.439,29.135000,5.242
2,2016,2304.0,34.630833,-119.230278,24.775141,1920.000000,2.174585e+06,51.632213,27.422001,21.467001,15.514,25.910999,5.891
3,2016,1702.0,36.227778,-118.563333,48.037987,2225.000000,6.416926e+06,77.538002,10.326000,5.842000,1.359,9.923000,3.374
4,2016,4357.0,35.986667,-118.551667,109.457977,1652.000000,2.241690e+06,50.560001,16.764000,7.659000,-1.444,15.048000,1.158
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,2019,2546.0,36.277222,-120.943056,326.534607,283.000000,8.951381e+05,51.632213,34.775002,23.425499,12.076,45.002998,2.310
173,2019,1507.0,32.572778,-116.699722,219.035294,925.358398,3.657776e+06,16.621000,30.459999,22.446899,14.434,31.254000,2.608
174,2019,1806.0,34.281667,-118.803056,243.970413,218.000000,6.056698e+05,53.241001,23.308001,16.590000,9.872,23.044001,4.623
175,2019,1011.0,33.992460,-117.059210,199.358993,719.000000,4.963595e+05,81.872002,22.702999,15.968900,9.235,24.959999,7.115
176,2019,2422.0,37.472222,-121.249444,220.114792,203.000000,4.203679e+06,51.632213,31.962000,24.119499,16.277,35.710999,6.419

In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [12]:
dfs.columns

Index(['FIRE_YEAR', 'FIRE_SIZE', 'LATITUDE', 'LONGITUDE', 'spect_degrees',
       'elev', 'slope_percent', 'ppt', 'tmax', 'tmean', 'tmin', 'vpdmax',
       'vpdmin'],
      dtype='object')

In [13]:
# Assuming you have a DataFrame called 'fires' with the provided columns
# Features (X) and target variable (y)
X = dfs.drop('FIRE_SIZE', axis=1)
y = dfs['FIRE_SIZE']

In [14]:
y

0      2819.0
1      2860.0
2      2304.0
3      1702.0
4      4357.0
        ...
172    2546.0
173    1507.0
174    1806.0
175    1011.0
176    2422.0
Name: FIRE_SIZE, Length: 177, dtype: float64

In [15]:
dfs

,FIRE_YEAR,FIRE_SIZE,LATITUDE,LONGITUDE,spect_degrees,elev,slope_percent,ppt,tmax,tmean,tmin,vpdmax,vpdmin
0,2016,2819.0,37.798889,-118.922500,255.963760,2432.000000,5.218463e+05,3.493000,21.313999,12.240001,3.169,22.062000,3.959
1,2016,2860.0,41.623056,-123.557500,91.538918,1553.000000,4.241502e+06,24.947001,28.737000,20.587002,12.439,29.135000,5.242
2,2016,2304.0,34.630833,-119.230278,24.775141,1920.000000,2.174585e+06,51.632213,27.422001,21.467001,15.514,25.910999,5.891
3,2016,1702.0,36.227778,-118.563333,48.037987,2225.000000,6.416926e+06,77.538002,10.326000,5.842000,1.359,9.923000,3.374
4,2016,4357.0,35.986667,-118.551667,109.457977,1652.000000,2.241690e+06,50.560001,16.764000,7.659000,-1.444,15.048000,1.158
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,2019,2546.0,36.277222,-120.943056,326.534607,283.000000,8.951381e+05,51.632213,34.775002,23.425499,12.076,45.002998,2.310
173,2019,1507.0,32.572778,-116.699722,219.035294,925.358398,3.657776e+06,16.621000,30.459999,22.446899,14.434,31.254000,2.608
174,2019,1806.0,34.281667,-118.803056,243.970413,218.000000,6.056698e+05,53.241001,23.308001,16.590000,9.872,23.044001,4.623
175,2019,1011.0,33.992460,-117.059210,199.358993,719.000000,4.963595e+05,81.872002,22.702999,15.968900,9.235,24.959999,7.115
176,2019,2422.0,37.472222,-121.249444,220.114792,203.000000,4.203679e+06,51.632213,31.962000,24.119499,16.277,35.710999,6.419

In [16]:
# Preprocess the data: drop non-numeric columns, and fill missing values
X = X.select_dtypes(include=[np.number]).fillna(0)

# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Initialize the models
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest': RandomForestRegressor()
}

# KFold Cross-Validation
k = 5  # Number of splits
kf = KFold(n_splits=k, random_state=42, shuffle=True)

# Evaluate models using k-fold cross-validation
for name, model in models.items():
    cv_scores = cross_val_score(model, X_scaled, y, cv=kf, scoring='r2')
    print(f"{name}: R2 Score Mean: {cv_scores.mean():.4f}, Std: {cv_scores.std():.4f}")

Linear Regression: R2 Score Mean: -0.2063, Std: 0.1208
Decision Tree: R2 Score Mean: -1.0923, Std: 0.4669
Random Forest: R2 Score Mean: -0.1537, Std: 0.1071

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [18]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Define the Random Forest model
model = RandomForestRegressor()

# Define the hyperparameter search space
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt']
}

# Use GridSearchCV to search for the best hyperparameters
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, scoring='r2', n_jobs=-1, verbose=1)

# Fit the model with the best combination of hyperparameters
grid_search.fit(X_train, y_train)

# Get the best parameters
best_params = grid_search.best_params_
print("Best Parameters: ", best_params)

# Evaluate the model using the best parameters
best_rf = grid_search.best_estimator_
y_pred = best_rf.predict(X_test)
r2 = r2_score(y_test, y_pred)
print("R2 Score: ", r2)

Fitting 5 folds for each of 216 candidates, totalling 1080 fits
Best Parameters:  {'max_depth': None, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 5, 'n_estimators': 200}
R2 Score:  -0.010985060186599283

In [19]:
fires=dfs

In [20]:
#feature Engineering

In [21]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import RFE, SelectFromModel
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

# Assuming you have a DataFrame called 'fires' with the provided columns
# Features (X) and target variable (y)
X = fires.drop('FIRE_SIZE', axis=1)
y = fires['FIRE_SIZE']

# Preprocess the data: drop non-numeric columns, and fill missing values
X = X.select_dtypes(include=[np.number]).fillna(0)

# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Recursive Feature Elimination (RFE) with Random Forest
model_rf = RandomForestRegressor()
rfe = RFE(estimator=model_rf, n_features_to_select=5, step=1) # Adjust 'n_features_to_select' based on desired number of features
rfe.fit(X_scaled, y)
X_rfe = rfe.transform(X_scaled)
selected_features_rfe = X.columns[rfe.support_]
print("Selected Features (RFE):", selected_features_rfe)

# LASSO regularization
model_lasso = Lasso(alpha=0.1) # Adjust 'alpha' based on desired level of regularization
model_lasso.fit(X_scaled, y)
sfm = SelectFromModel(model_lasso)
sfm.fit(X_scaled, y)
X_lasso = sfm.transform(X_scaled)
selected_features_lasso = X.columns[sfm.get_support()]
print("Selected Features (LASSO):", selected_features_lasso)

# Correlation Analysis
correlations = fires.corr().abs()
threshold = 0.5  # Set a threshold for correlation
correlated_vars = correlations.loc['FIRE_SIZE'][correlations['FIRE_SIZE'] > threshold]
selected_features_corr = correlated_vars.index.tolist()
selected_features_corr.remove('FIRE_SIZE')
print("Selected Features (Correlation):", selected_features_corr)

Selected Features (RFE): Index(['elev', 'slope_percent', 'ppt', 'tmax', 'tmin'], dtype='object')
Selected Features (LASSO): Index(['FIRE_YEAR', 'LATITUDE', 'LONGITUDE', 'spect_degrees', 'elev',
       'slope_percent', 'ppt', 'tmax', 'tmin', 'vpdmax', 'vpdmin'],
      dtype='object')
Selected Features (Correlation): []

In [ ]:
#features

'elev', 'slope_percent', 'ppt', 'tmax', 'tmin'

In [22]:
dfs

,FIRE_YEAR,FIRE_SIZE,LATITUDE,LONGITUDE,spect_degrees,elev,slope_percent,ppt,tmax,tmean,tmin,vpdmax,vpdmin
0,2016,2819.0,37.798889,-118.922500,255.963760,2432.000000,5.218463e+05,3.493000,21.313999,12.240001,3.169,22.062000,3.959
1,2016,2860.0,41.623056,-123.557500,91.538918,1553.000000,4.241502e+06,24.947001,28.737000,20.587002,12.439,29.135000,5.242
2,2016,2304.0,34.630833,-119.230278,24.775141,1920.000000,2.174585e+06,51.632213,27.422001,21.467001,15.514,25.910999,5.891
3,2016,1702.0,36.227778,-118.563333,48.037987,2225.000000,6.416926e+06,77.538002,10.326000,5.842000,1.359,9.923000,3.374
4,2016,4357.0,35.986667,-118.551667,109.457977,1652.000000,2.241690e+06,50.560001,16.764000,7.659000,-1.444,15.048000,1.158
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,2019,2546.0,36.277222,-120.943056,326.534607,283.000000,8.951381e+05,51.632213,34.775002,23.425499,12.076,45.002998,2.310
173,2019,1507.0,32.572778,-116.699722,219.035294,925.358398,3.657776e+06,16.621000,30.459999,22.446899,14.434,31.254000,2.608
174,2019,1806.0,34.281667,-118.803056,243.970413,218.000000,6.056698e+05,53.241001,23.308001,16.590000,9.872,23.044001,4.623
175,2019,1011.0,33.992460,-117.059210,199.358993,719.000000,4.963595e+05,81.872002,22.702999,15.968900,9.235,24.959999,7.115
176,2019,2422.0,37.472222,-121.249444,220.114792,203.000000,4.203679e+06,51.632213,31.962000,24.119499,16.277,35.710999,6.419

In [23]:
dfs.columns

Index(['FIRE_YEAR', 'FIRE_SIZE', 'LATITUDE', 'LONGITUDE', 'spect_degrees',
       'elev', 'slope_percent', 'ppt', 'tmax', 'tmean', 'tmin', 'vpdmax',
       'vpdmin'],
      dtype='object')

In [24]:
dfs[[ 'elev', 'slope_percent', 'ppt','tmax','tmin']]

            elev  slope_percent        ppt       tmax    tmin
0    2432.000000   5.218463e+05   3.493000  21.313999   3.169
1    1553.000000   4.241502e+06  24.947001  28.737000  12.439
2    1920.000000   2.174585e+06  51.632213  27.422001  15.514
3    2225.000000   6.416926e+06  77.538002  10.326000   1.359
4    1652.000000   2.241690e+06  50.560001  16.764000  -1.444
..           ...            ...        ...        ...     ...
172   283.000000   8.951381e+05  51.632213  34.775002  12.076
173   925.358398   3.657776e+06  16.621000  30.459999  14.434
174   218.000000   6.056698e+05  53.241001  23.308001   9.872
175   719.000000   4.963595e+05  81.872002  22.702999   9.235
176   203.000000   4.203679e+06  51.632213  31.962000  16.277

[177 rows x 5 columns]

In [27]:
df_final= dfs[[ 'FIRE_SIZE','elev', 'slope_percent', 'ppt','tmax','tmin']]

In [28]:
df_final

     FIRE_SIZE         elev  slope_percent        ppt       tmax    tmin
0       2819.0  2432.000000   5.218463e+05   3.493000  21.313999   3.169
1       2860.0  1553.000000   4.241502e+06  24.947001  28.737000  12.439
2       2304.0  1920.000000   2.174585e+06  51.632213  27.422001  15.514
3       1702.0  2225.000000   6.416926e+06  77.538002  10.326000   1.359
4       4357.0  1652.000000   2.241690e+06  50.560001  16.764000  -1.444
..         ...          ...            ...        ...        ...     ...
172     2546.0   283.000000   8.951381e+05  51.632213  34.775002  12.076
173     1507.0   925.358398   3.657776e+06  16.621000  30.459999  14.434
174     1806.0   218.000000   6.056698e+05  53.241001  23.308001   9.872
175     1011.0   719.000000   4.963595e+05  81.872002  22.702999   9.235
176     2422.0   203.000000   4.203679e+06  51.632213  31.962000  16.277

[177 rows x 6 columns]

In [29]:
# Assuming you have a DataFrame called 'fires' with the provided columns
# Features (X) and target variable (y)
X = df_final.drop('FIRE_SIZE', axis=1)
y = df_final['FIRE_SIZE']

In [30]:
# Preprocess the data: drop non-numeric columns, and fill missing values
X = X.select_dtypes(include=[np.number]).fillna(0)

# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Initialize the models
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest': RandomForestRegressor()
}

# KFold Cross-Validation
k = 5  # Number of splits
kf = KFold(n_splits=k, random_state=42, shuffle=True)

# Evaluate models using k-fold cross-validation
for name, model in models.items():
    cv_scores = cross_val_score(model, X_scaled, y, cv=kf, scoring='r2')
    print(f"{name}: R2 Score Mean: {cv_scores.mean():.4f}, Std: {cv_scores.std():.4f}")

Linear Regression: R2 Score Mean: -0.1061, Std: 0.0895
Decision Tree: R2 Score Mean: -1.0569, Std: 0.3645
Random Forest: R2 Score Mean: -0.1858, Std: 0.1787

In [32]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Define the Random Forest model
model = RandomForestRegressor()

# Define the hyperparameter search space
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt']
}

# Use GridSearchCV to search for the best hyperparameters
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, scoring='r2', n_jobs=-1, verbose=1)

# Fit the model with the best combination of hyperparameters
grid_search.fit(X_train, y_train)

# Get the best parameters
best_params = grid_search.best_params_
print("Best Parameters: ", best_params)

# Evaluate the model using the best parameters
best_rf = grid_search.best_estimator_
y_pred = best_rf.predict(X_test)
r2 = r2_score(y_test, y_pred)
print("R2 Score: ", r2)

Fitting 5 folds for each of 216 candidates, totalling 1080 fits
Best Parameters:  {'max_depth': 20, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 10, 'n_estimators': 300}
R2 Score:  -0.0021810418127992115

In [33]:
import xgboost as xgb

In [34]:
# Create the XGBoost model
model = xgb.XGBRegressor(objective='reg:squarederror', n_jobs=-1)

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the R2 score
r2 = r2_score(y_test, y_pred)
print("R2 Score: ", r2)

R2 Score:  -0.41526559187996614